
<div style="white-space: nowrap">
    <div class="ui-whitespace">
        <ul class="ui-row-flex panel-nav">
            <li class="ui-col ui-flex ui-flex-pack-center" onclick='homeLocation("realtime")'><div >实时数据</div></li>
            <li class="ui-col ui-flex ui-flex-pack-center panel-select-right"><div style="color:#fff">统计报表</div></li>
        </ul>
    </div>
    <div>
    <ul class="ui-row-flex ui-row-flex1" style="background-color:#d6dde2;color:#334455;line-height:34px;height:34px;font-size:14px;padding:0 0;">
        <li class="ui-flex ui-col-24 ui-flex-pack-center" ><div><b>项目</b></div></li>
        <li class="ui-flex ui-col-24 ui-flex-pack-center"><div><b>昨日\指标</b></div></li>
        <li class="ui-flex ui-col-20 ui-flex-pack-center"><div><b>昨日</b></div></li>
        <li class="ui-flex ui-col-20 ui-flex-pack-center"><div><b>本月</b></div></li>
        <li class="ui-flex ui-col-12 ui-flex-pack-center"><div><b>排名</b></div></li>
    </ul>
        <!-- ko foreach:Data.dataList -->
        <div>
            <ul class="ui-row-flex ui-row-flex1  ui-border-b" data-bind="css:{'ui-color':$index()%2!=0}" style="font-size:12px;padding:0 0;height:auto;">
                <li class="ui-flex ui-col-24  ui-flex-pack-center ui-border-r ui-flex-align-center"><div style="display: block;white-space:normal;word-break:break-all;" class="ui-txt-justify" data-bind="text:item" ></div></li>
                <li class="ui-flex ui-col-24  ui-flex-pack-center ui-border-r ui-flex-align-center"><div data-bind="text:indexRate"></div></li>
                <li class="ui-flex ui-col-20  ui-flex-pack-center ui-border-r ui-flex-align-center"><div class="font-green" data-bind="text:yesterdayCompleteRate,click:locationDetail.bind($data,'day',$data),style:{color:($data.yesterdayCompleteRate.toString().indexOf('%') == -1 ? $data.yesterdayCompleteRate : (parseFloat($data.yesterdayCompleteRate.toString().replace('%', '')) / 100))-$data.kpi<0?'red':''}"></div></li>
                <li class="ui-flex ui-col-20  ui-flex-pack-center ui-border-r ui-flex-align-center"><div class="font-green" data-bind="text:currentMonthCompleteRate,click:locationDetail.bind($data,'month',$data),style:{color:($data.currentMonthCompleteRate.toString().indexOf('%') == -1 ? $data.currentMonthCompleteRate : (parseFloat($data.currentMonthCompleteRate.toString().replace('%', '')) / 100))-$data.kpi<0?'red':''}"></div></li>
                <li class="ui-flex ui-col-12  ui-flex-pack-center ui-flex-align-center "><div style="color:#3191fd" data-bind="text:ranking"></div></li>
            </ul>
        </div>
        <!-- /ko -->

    </div>




</div>