<!--swiper滑动模版-->
<div style="line-height:46px;height:46px" >
    <ul id="navBar" class="ui-row-flex  ui-whitespace swipe-handler" style="background-color: #fff; color: #666666; line-height: 44px; height: auto; vertical-align: middle; font-size: 15px;position:fixed;top:0;left:0;"> 
         <!-- ko foreach:Data -->
            <li  class="ui-col ui-flex ui-flex-pack-center ui-flex-align-center" style="width:30%"  data-bind="css:{'active':$index()==0}" >
                <div style="display: block;white-space:normal;word-break:break-all;" >
                            <b  data-bind="text:$data"></b>    
                </div>
            </li>
        <!-- /ko -->
    </ul>
</div>

<!-- 更多选项-->
<div id="more" class="search-lay ">
    <div class=" banner" ><span style="padding-left:15px">请选择类别：</span><div class="banner-right"><img width='44' src="./img/close.png" /></div></div>
     <ul class="ui-row  swipe-handler" style="background-color: #fff; color: #666666; line-height: 35px; height: auto; vertical-align: middle; font-size: 15px;padding:10px 0px 0 10px"> 
         <!-- ko foreach:Data -->
            <li  class="ui-col ui-flex  ui-flex-pack-center ui-flex-align-center" style="width:30%;background-color:#ededed;margin:0px 10px 10px 0px" >
                <div style="display: block;white-space:normal;word-break:break-all;" >
                            <p  data-bind="text:$data"></p>    
                </div>
            </li>
        <!-- /ko -->
    </ul>
    <div class="lay"></div>
</div>


<div class="swiper-container" >
    <div class="swiper-wrapper" data-bind="template:{name:'columns-template'}">
    </div>
</div>

