<div style="height: auto !important; min-height: 100%; margin: 0 auto -60px">
    <div class="ui-whitespace" style="background-color: #fff; padding-top: 15px">
        <div class="section" style="color: #666666">
            <p>
                回来啦社区是绿城东方为业主打造的专属社区综合生活服务平台。是绿城东方六大生活服务体系【安全放心美好家、难忘的童年生活、家门口的温暖、有态度的生活方式、温馨的社群交流和专属的金融服务】的线上承载。 业主们在“回来啦”找到志同道合、兴趣相投的邻居们。同时，还能使用智慧园区的各项服务功能，如报修报事、物业缴费、访客通行、园区鹰眼、智能门禁、快递代收等线上服务功能。回来啦，都在等你呢！
            </p>
            <!--<p>“回来啦社区”APP——幸福生活，简单到达！</p>-->
        </div>
    </div>

    <div style="padding-top: 8px; padding-bottom: 60px">
        <ul id="list" class="ui-list ui-list-link ui-border-tb ">
            <!-- ko foreach:item -->
            <li style="height: 44px; margin-left: 0" class="ui-border-t">
                <div style="width: 90%; display: table; height: 44px">
                    <div class="li-div-txt" style="padding-left: 12px">
                        <p style="color: #666666; font-size: 15px" data-bind="text:name"></p>
                    </div>
                </div>
                <div style="width: 10%;">
                    <div class="ui-txt-info"></div>
                </div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>

<div style="height: 60px; display: table; width: 100%; bottom: 0">
    <div class="li-div-txt" style="text-align: center; margin: auto;">
        <p style="color: #aaaaaa; font-size: 10px">回来啦社区Copyright ©2018-2022</p>
        <p style="color: #aaaaaa; font-size: 10px">南京清方投资咨询有限公司</p>
    </div>
</div>

