<div>
    <ul id="list" class="ui-list " style="background-color: transparent">
        <li style="height: 44px; margin-left: 0">
            <div style="width: 90%; line-height: 44px;  display: inline-block;height: 44px; margin-left: 15px;vertical-align:middle">
                <img width="18" style="vertical-align: text-bottom" src="./img/payway@2x.png" />
                <p style="color: #666666; font-size: 16px; padding-left: 10px;display:inline-block">支付方式</p>
            </div>
        </li>
    </ul>
    <ul class="ui-list ui-list-link" style="background-color: transparent">
        <li style="height: 44px; margin-left: 0; background-color: #fff" sectype="onlinePay">
            <div style="width: 90%; display: table; height: 44px">
                <div class="li-div-txt" style="padding-left: 15px">
                    <p style="color: #666666; font-size: 15px">线上支付</p>
                </div>
            </div>
            <div style="width: 10%;">
                <div class="ui-txt-info"></div>
            </div>
        </li>
        <li style="height: 44px; margin-left: 0; background-color: #fff" class=" ui-border-t" sectype="offlinePay">
            <div style="width: 90%; display: table; height: 44px">
                <div class="li-div-txt" style="padding-left: 15px">
                    <p style="color: #666666; font-size: 15px">线下支付</p>
                </div>
            </div>
            <div style="width: 10%;">
                <div class="ui-txt-info"></div>
            </div>
        </li>
    </ul>
    <ul class="ui-list " style="background-color: transparent">
        <li style="height: 44px; margin-left: 0;">
            <div style="width: 90%; line-height: 44px; display: inline-block; height: 44px; margin-left: 15px">
                <img width="18" style="vertical-align: text-bottom" src="./img/aftersale@2x.png" />
                <p style="color: #666666; font-size: 16px; padding-left: 10px;display:inline-block">售后服务</p>
            </div>
        </li>
    </ul>
    <ul class="ui-list ui-list-link" style="background-color: transparent">
        <li style="height: 44px; margin-left: 0; background-color: #fff" class=" ui-border-t" sectype="aftersale">
            <div style="width: 90%; display: table; height: 44px">
                <div class="li-div-txt" style="padding-left: 15px">
                    <p style="color: #666666; font-size: 15px">售后常见问题</p>
                </div>
            </div>
            <div style="width: 10%;">
                <div class="ui-txt-info"></div>
            </div>
        </li>
    </ul>
    <ul class="ui-list " style="background-color: transparent">
        <li style="height: 44px; margin-left: 0;">
            <div style="width: 90%; line-height: 44px; display: inline-block; height: 44px; margin-left: 15px">
                <img width="18" style="vertical-align: text-bottom" src="./img/problem@2x.png" />
                <p style="color: #666666; font-size: 16px; padding-left: 10px;display:inline-block">常见问题</p>
            </div>
        </li>
    </ul>
    <ul class="ui-list ui-list-link" style="background-color: transparent">
        <li style="height: 44px; margin-left: 0; background-color: #fff" class=" ui-border-t" sectype="problem">
            <div style="width: 90%; display: table; height: 44px">
                <div class="li-div-txt" style="padding-left: 15px">
                    <p style="color: #666666; font-size: 15px">APP常见问题</p>
                </div>
            </div>
            <div style="width: 10%;">
                <div class="ui-txt-info"></div>
            </div>
        </li>
    </ul>
</div>
