<div style="height: auto !important; min-height: 100%; margin: 0 auto -60px">
    <div class="ui-whitespace" style="background-color: #fff; padding-top: 15px">
        <div class="section" style="color: #666666">
            <p>
                “回来啦社区”APP是由回来啦社区服务集团拥有自主知识产权、并由绿漫科技研发，为全国回来啦社区业主量身定制的融合了基础物业服务、园区生活服务、周边商圈服务和邻里社交服务的一站式园区生活服务平台。目前已在全国超过500个园区投入运营，注册用户超过30万，可提供超过30种的线上服务（维修、意见建议、表扬投诉、物业缴费、访客通行、送水、家政、洗衣、园区超市、粮油宅配、免税店、旅游、通信、旅游、ETC办理等），并可通过支付宝、银联卡来完成线上支付，真正打造了智慧园区O2O平台，为广大回来啦业主打造更安全、更便捷、更和睦的幸福园区。
            </p>
            <p>“回来啦社区”APP——幸福生活，简单到达！</p>
        </div>
    </div>

    <div style="padding-top: 8px; padding-bottom: 60px">
        <ul id="list" class="ui-list ui-list-link ui-border-tb ">
            <!-- ko foreach:item -->
            <li style="height: 44px; margin-left: 0" class="ui-border-t">
                <div style="width: 90%; display: table; height: 44px">
                    <div class="li-div-txt" style="padding-left: 12px">
                        <p style="color: #666666; font-size: 15px" data-bind="text:name"></p>
                    </div>
                </div>
                <div style="width: 10%;">
                    <div class="ui-txt-info"></div>
                </div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>

<div style="height: 60px; display: table; width: 100%; bottom: 0">
    <div class="li-div-txt" style="text-align: center; margin: auto;">
        <p style="color: #aaaaaa; font-size: 10px">回来啦社区Copyright ©2018-2022</p>
        <p style="color: #aaaaaa; font-size: 10px">回来啦社区</p>
    </div>
</div>

